{% extends 'lmn/base.html' %} 

{% block content %}
  {% if error %}
    <div class="display-box">
      <p class="error">{{ error }}</p>
      <a class="back-btn" href="{% url 'venue_list' %}">Back</a> 
    </div>
  {% else %}
    <h2>New note for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date}}</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'new_note' show_pk=show.pk %}">
      <div>
        {% csrf_token %}
        {{ form.as_p }}
      </div>
      {% if not hide_button %}
        <input type="submit" value="Add Note">
      {% endif %}
    </form>
  {% endif %}
{% endblock %}