db.sqlite3

# python-related
__pycache__
*.pyc

# ignore editor-specific files 
.vscode
.idea
help

# ignore virtual enviroments 
venv
env

#ignore all user's media files
media/

#ignore personal files
text/
node_modules/
endpoints/
