{% extends 'lmn/base.html' %}

{% block content %}

  <h2 id="venues-for-artist-title">Venues that {{ artist.name }} has played at</h2>

  {% for show_dict in future_shows %}

    <div class="show" id="show-{{ show.pk }}">
      <p>{{ show_dict.show.artist.name }} on {{ show_dict.show.show_date }}.
        {% if not show_dict.future %}
          <a href="{% url 'notes_for_show' show_pk=show_dict.show.pk %}">See notes for this show, and add your own</a>
        {% endif %}
      </p>
    </div>

  {% empty %}
    <p id="no-results">We have no records of venues this artist has played at</p>
  {% endfor %}

{% endblock %}




